.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    display: block;
    margin-bottom: 20px;
  }
  
  .small-box > .inner {
    padding: 10px;
  }
  
  .small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .small-box > .small-box-footer:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.15);
  }
  
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
  
  .small-box p {
    font-size: 15px;
  }
  
  .small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
  }
  
  .small-box h3, .small-box p {
    z-index: 5;
  }
  
  .small-box .icon {
    transition: all 0.3s linear;
    position: absolute;
    top: 40px;
    right: 60px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
  }
  
  .small-box:hover {
    text-decoration: none;
  }
  
  .small-box:hover .icon {
    font-size: 60px;
  }
  
  @media (max-width: 767.98px) {
    .small-box {
      text-align: center;
    }
    .small-box .icon {
      display: none;
    }
    .small-box p {
      font-size: 12px;
    }
  }
.bg-danger{
    background:	#dc3545;
    color:#fff;
}
.bg-success{
    background:#28a745;
    color:#fff;
}
.bg-warning{
    background:#ffc107;
    
}
.badge-danger {
  color: #ffffff!important;
  background-color: #dc3545!important;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #ffffff!important;
  text-decoration: none!important;
  background-color: #bd2130!important;
}